<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.banner.BannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.banner.Banner">
        <id column="banner_id" property="bannerId" />
        <result column="picture" property="picture" />
        <result column="jump_id" property="jumpId" />
        <result column="jump_name" property="jumpName" />
        <result column="weight" property="weight" />
        <result column="link_url" property="linkUrl" />
        <result column="outside_link" property="outsideLink" />
        <result column="banner_type" property="bannerType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        banner_id, picture, jump_id, jump_name, weight, link_url, outside_link, banner_type, create_time, update_time, deleted
    </sql>

</mapper>
