<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.coursepackage.CoursePackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.coursepackage.CoursePackage">
        <id column="course_package_id" property="coursePackageId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="price" property="price"/>
        <result column="display" property="display"/>
        <result column="overdue" property="overdue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="teacher_id" property="deleted"/>
        <result column="classroom" property="classroom"/>
        <result column="class_time" property="classTime"/>
        <result column="quitting_time" property="quittingTime"/>
        <result column="course_name" property="courseName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_package_id, start_time, end_time, price, display, overdue, create_time, update_time, deleted
    </sql>

    <select id="findAllByCourseId" resultType="com.luwei.model.coursepackage.pojo.web.CoursePackageWebVO">
        select * from tb_course_package where course_id = #{courseId}
    </select>

    <select id="findMinPriceByCourseId" resultType="java.math.BigDecimal">
        select MIN(price) from tb_course_package where course_id = #{courseId}
    </select>

    <select id="findAllByTime" resultType="com.luwei.model.course.pojo.mini.MyCourseVO">
        SELECT course_package_id,course_name,classroom,start_time,end_time,class_time,quitting_time,max_number
        FROM tb_course_package WHERE course_package_id NOT IN
        (SELECT course_package_id FROM tb_course_package
        WHERE (start_time &gt;= #{endTime}
        OR end_time &lt;= #{startTime} )
        AND teacher_id = #{teacherId} )
        AND teacher_id = #{teacherId}
    </select>

    <update id="coursePackageTimer">
        update  tb_course_package set overdue = 1 where overdue = 0 and end_time  &lt; now()
    </update>


</mapper>
