<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.coursepackage.CoursePackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.coursepackage.CoursePackage">
        <id column="course_package_id" property="coursePackageId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="price" property="price"/>
        <result column="display" property="display"/>
        <result column="overdue" property="overdue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_package_id, start_time, end_time, price, display, overdue, create_time, update_time, deleted
    </sql>

    <select id="findAllByCourseId" resultType="com.luwei.model.coursepackage.pojo.cms.CoursePackageVO">
        select * from tb_course_package where course_id = #{courseId}
    </select>

    <select id="findMinPriceByCourseId" resultType="java.math.BigDecimal">
        select MIN(price) from tb_course_package where course_id = #{courseId}
    </select>

</mapper>
