<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.notice.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.notice.Notice">
        <id column="id" property="id"/>
        <result column="display" property="display"/>
        <result column="content" property="content"/>
        <result column="tittle" property="title"/>
        <result column="summary" property="summary"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id, display, ncontent, title, summary, create_time, update_time, deleted
    </sql>



    <select id="getNoticePage" resultType="com.luwei.model.notice.pojo.cms.NoticeVO" parameterType="com.luwei.model.notice.pojo.cms.NoticeQueryDTO">
        select *
        From tb_notice
        <where>
            deleted=0
            <if test="noticePageDTO.startTime!=null">
                and create_time &gt;= #{noticePageDTO.startTime}
            </if>
            <if test="noticePageDTO.endTime!=null">
               and create_time &lt;= #{noticePageDTO.endTime}
            </if>
            <if test="noticePageDTO.title!=null">
                and title like '%${noticePageDTO.title}%'
            </if>
            <if test="noticePageDTO.display!=null">
                and display = #{noticePageDTO.display}
            </if>
        </where>
    </select>


</mapper>
