<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.picture.PictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.picture.Picture">
        <id column="picture_id" property="pictureId"/>
        <result column="picture_url" property="pictureUrl"/>
        <result column="picture_type" property="pictureType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        picture_id, picture_url, picture_type, create_time, update_time, deleted
    </sql>

    <delete id="deleteByPictureTypeAndForeignKeyId">
        update tb_picture set deleted = 1 where picture_type = #{pictureType} and foreign_key_id = #{foreignKeyId}
    </delete>

    <select id="findAllByForeignKeyId" resultType="java.lang.String">
        select picture_url from tb_picture where foreign_key_id = #{foreignKeyId}
    </select>

</mapper>
