<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luwei.model.school.SchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luwei.model.school.School">
        <id column="school_id" property="schoolId"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="code" property="code"/>
        <result column="leader_phone" property="leaderPhone"/>
        <result column="license" property="license"/>
        <result column="student_number" property="studentNumber"/>
        <result column="school_type" property="schoolType"/>
        <result column="permission" property="permission"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        school_id, name, introduction, code, leader_phone, license, school_number, type, permission
    </sql>


    <select id="getSchoolPage" resultType="com.luwei.model.school.pojo.cms.SchoolCmsVO"
            parameterType="com.luwei.model.school.pojo.cms.SchoolQueryDTO">
        select *
        From tb_school
        <where>
            deleted=0
            <if test="schoolQueryDTO.name!=null">
                and name like '%${schoolQueryDTO.name}%'
            </if>
            <if test="schoolQueryDTO.leaderPhone!=null">
                and leader_phone = #{schoolQueryDTO.leaderPhone}
            </if>
        </where>
    </select>

    <select id="findSchoolIdBySchoolName" parameterType="string" resultType="java.lang.Integer">
        SELECT school_id from tb_school where name = #{schoolName}
    </select>

</mapper>
